@import url('https://fonts.googleapis.com/css?family=Anybody');

body {
    text-align: center;
    font-family: 'Anybody', sans-serif;
    background-image: url('https://u.cubeupload.com/_cloudcoding_/vimalscPGMrfAuUSguns.jpg');
    color: rgb(115, 160, 228);
}

h1 {
    margin-top: 4rem;
}

h2 {
    margin-top: 6rem;
}

p {
    margin-top : 18rem;
}